In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read csv
df = pd.read_csv("clean_data/renewable_nonrenewable_breakdown_emissions.csv")
df.head(5)

,Unnamed: 0,1965.0_renewable,1966.0_renewable,1967.0_renewable,1968.0_renewable,1969.0_renewable,1970.0_renewable,1971.0_renewable,1972.0_renewable,1973.0_renewable,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.001610,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.199897,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.201507,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,0.000000,0.00000,0.000000,0.00000,0.000000,0.000475,0.000499,0.000644,0.000490,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271

In [3]:
# Pull out the global data
df_world = df.iloc[[99]]
df_world

,Unnamed: 0,1965.0_renewable,1966.0_renewable,1967.0_renewable,1968.0_renewable,1969.0_renewable,1970.0_renewable,1971.0_renewable,1972.0_renewable,1973.0_renewable,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
99,Total World,0.214179,0.233071,0.235538,0.257519,0.269545,0.298667,0.32276,0.347499,0.368311,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782

In [4]:
# Pull out data by suffix
renewable_world = df_world.filter(regex='_renewable$',axis=1).head()

In [5]:
# Create a function to drop suffix
def drop_suffix(self, suffix):
    self.columns = self.columns.str.rstrip(suffix)
    return self

pd.core.frame.DataFrame.drop_suffix = drop_suffix

In [7]:
# Drop suffix
renewable_world.drop_suffix('_renewable')

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
99,0.214179,0.233071,0.235538,0.257519,0.269545,0.298667,0.32276,0.347499,0.368311,0.385606,...,9.699337,11.120646,12.60451,14.360242,16.027352,18.081068,20.057078,23.036529,25.825912,28.976463

In [8]:
# Flip the df
renewable_worldT = renewable_world.T
renewable_worldT = renewable_worldT.reset_index(drop=False)

In [11]:
# Rename columns
renewable_worldT = renewable_worldT.rename(columns={"index":"year", 99: "renewable"})
renewable_worldT.set_index("year", inplace=True)

In [12]:
# Pull out data by suffix
oil_world = df_world.filter(regex='_oil$',axis=1).head()
oil_world.drop_suffix('_oil')
# Flip the df
oil_worldT = oil_world.T
oil_worldT = oil_worldT.reset_index(drop=False)
# Rename columns
oil_worldT = oil_worldT.rename(columns={"index":"year", 99: "oil"})
oil_worldT.set_index("year", inplace=True)

gas_world = df_world.filter(regex='_gas$',axis=1).head()
gas_world.drop_suffix('_gas')
# Flip the df
gas_worldT = gas_world.T
gas_worldT = gas_worldT.reset_index(drop=False)
# Rename columns
gas_worldT = gas_worldT.rename(columns={"index":"year", 99: "gas"})
gas_worldT.set_index("year", inplace=True)

coal_world = df_world.filter(regex='_coal$',axis=1).head()
coal_world.drop_suffix('_coal')
# Flip the df
coal_worldT = coal_world.T
coal_worldT = coal_worldT.reset_index(drop=False)
# Rename columns
coal_worldT = coal_worldT.rename(columns={"index":"year", 99: "coal"})
coal_worldT.set_index("year", inplace=True)

nuclear_world = df_world.filter(regex='_nuclear$',axis=1).head()
nuclear_world.drop_suffix('_nuclear')
# Flip the df
nuclear_worldT = nuclear_world.T
nuclear_worldT = nuclear_worldT.reset_index(drop=False)
# Rename columns
nuclear_worldT = nuclear_worldT.rename(columns={"index":"year", 99: "nuclear"})
nuclear_worldT.set_index("year", inplace=True)

hydroelec_world = df_world.filter(regex='_hydroelec$',axis=1).head()
hydroelec_world.drop_suffix('_hydroelec')
# Flip the df
hydroelec_worldT = hydroelec_world.T
hydroelec_worldT = hydroelec_worldT.reset_index(drop=False)
# Rename columns
hydroelec_worldT = hydroelec_worldT.rename(columns={"index":"year", 99: "hydroelec"})
hydroelec_worldT.set_index("year", inplace=True)

emission_world = df_world.filter(regex='_co2_emission$',axis=1).head()
emission_world.drop_suffix('_co2_emission')
# Flip the df
emission_worldT = emission_world.T
emission_worldT = emission_worldT.reset_index(drop=False)
# Rename columns
emission_worldT = emission_worldT.rename(columns={"index":"year", 99: "emission"})
emission_worldT.set_index("year", inplace=True)

In [13]:
# Combine them
combine1 = pd.concat([renewable_worldT, oil_worldT], axis=1)
combine2 = pd.concat([combine1, gas_worldT], axis=1)
combine3 = pd.concat([combine2, oil_worldT], axis=1)
combine4 = pd.concat([combine3, coal_worldT], axis=1)
combine5 = pd.concat([combine4, nuclear_worldT], axis=1)
combine6 = pd.concat([combine5, hydroelec_worldT], axis=1)
combine_all = pd.concat([combine6, emission_worldT], axis=1)

In [14]:
# check df
combine_all

,renewable,oil,gas,oil,coal,nuclear,hydroelec,emission
year,,,,,,,,
1965.0,0.214179,65.191064,22.693676,65.191064,58.104642,0.255397,9.231979,11207.741166
1966.0,0.233071,70.187240,24.727660,70.187240,58.766738,0.344333,9.838170,11725.313885
1967.0,0.235538,75.206029,26.546542,75.206029,57.818915,0.410060,10.057427,12084.725642
1968.0,0.257519,81.631612,28.959593,81.631612,58.684128,0.521132,10.592890,12743.051213
1969.0,0.269545,88.476713,31.800305,88.476713,60.475449,0.617834,11.217432,13530.939823
1970.0,0.298667,96.148951,34.613250,96.148951,61.410989,0.788747,11.746476,14312.868023
1971.0,0.322760,101.537356,37.051894,101.537356,61.077453,1.097042,12.270650,14788.378466
1972.0,0.347499,109.360591,39.100893,109.360591,61.755597,1.521751,12.846304,15495.494674
1973.0,0.368311,117.886008,40.956192,117.886008,63.604258,2.039016,13.030095,16345.050954
1974.0,0.385606,116.180700,41.962491,116.180700,63.655384,2.666001,14.312650,16255.751893
1975.0,0.388276,115.014268,41.979868,115.014268,64.888336,3.698482,14.488897,16281.705250
1976.0,0.429518,122.506826,44.478225,122.506826,67.278546,4.326714,14.431347,17173.069698
1977.0,0.465105,126.772548,45.938261,126.772548,69.268657,5.385478,14.916716,17739.254738
1978.0,0.507545,131.132756,47.863505,131.132756,70.048429,6.257944,16.143877,18016.103507
1979.0,0.557800,133.286629,50.831542,133.286629,73.308712,6.508599,16.951892,18596.529868
1980.0,0.604134,128.077938,51.256754,128.077938,75.087367,7.119242,17.316525,18433.561461
1981.0,0.632315,123.465050,51.822424,123.465050,76.138822,8.407508,17.689037,18202.260226
1982.0,0.743240,119.512468,52.087554,119.512468,76.983922,9.121775,18.009089,18022.360663
1983.0,0.843447,118.687360,52.930047,118.687360,79.362015,10.338127,18.777694,18185.127403
1984.0,0.956693,121.459551,57.245573,121.459551,82.798231,12.545684,19.413756,18852.365825
1985.0,1.010417,121.640963,58.539220,121.640963,86.350186,14.889216,19.797748,19249.863074
1986.0,1.147124,125.289699,59.111564,125.289699,87.321709,15.947357,20.065716,19579.093011
1987.0,1.213562,127.798038,62.210148,127.798038,90.756956,17.347331,20.337064,20186.525231
1988.0,1.257334,132.130978,65.115382,132.130978,93.472655,18.912493,20.987210,20862.950883
1989.0,1.404412,134.279354,67.933928,134.279354,94.368436,19.450106,20.875709,21242.614404
1990.0,1.579746,135.687082,70.143914,135.687082,93.221914,20.004620,21.589063,21331.495657
1991.0,1.656818,135.688309,71.913766,135.688309,92.313914,20.961747,22.094104,21338.613706
1992.0,1.745224,138.039613,72.240456,138.039613,91.979780,21.120891,22.090743,21433.692446
1993.0,1.815543,137.157255,72.968711,137.157255,92.430389,21.848261,23.412448,21488.851573
1994.0,1.913737,140.165762,73.415970,140.165762,92.784750,22.258443,23.568818,21709.880209
1995.0,2.007832,142.000783,75.990775,142.000783,93.435631,23.223960,24.856334,21982.942790
1996.0,2.040488,145.369674,79.788390,145.369674,95.659645,24.068011,25.204990,22598.744861
1997.0,2.195189,149.087611,79.323616,149.087611,95.496525,23.902766,25.661354,22749.941248
1998.0,2.314628,149.847835,80.776449,149.847835,94.894405,24.313804,25.869420,22819.718442
1999.0,2.460757,152.536859,83.073461,152.536859,95.478815,25.243615,26.056765,23127.825771
2000.0,2.639702,154.429764,86.399524,154.429764,98.702248,25.808991,26.519617,23676.445905
2001.0,2.754379,155.801239,87.591338,155.801239,100.268933,26.365355,25.671090,24010.304932
2002.0,3.097275,157.101019,90.190364,157.101019,104.200633,26.613813,25.978872,24544.492221
2003.0,3.370340,160.594131,92.707167,160.594131,113.387341,25.907690,25.770727,25767.498376
2004.0,3.869028,166.520411,96.247986,166.520411,121.191531,26.912459,27.488782,27077.524746
2005.0,4.371778,168.567165,98.870027,168.567165,130.214724,26.812455,28.240605,28186.452354
2006.0,5.026240,170.520457,101.432266,170.520457,137.054317,26.975790,29.134219,29074.027009
2007.0,5.944938,172.646921,105.565226,172.646921,144.804932,26.260920,29.446141,30095.946631
2008.0,7.158576,171.236202,108.087502,171.236202,146.773612,26.016725,30.955306,30378.395828
2009.0,8.240148,167.952483,105.879619,167.952483,144.534962,25.490399,30.718031,29745.211853
2010.0,9.699337,173.113552,113.784267,173.113552,151.189921,25.986589,32.250472,31085.534841
2011.0,11.120646,174.779772,116.535487,174.779772,158.464953,24.747569,32.662401,31973.369818
2012.0,12.604510,176.964050,119.592019,176.964050,159.067113,22.911107,33.842892,32273.531532
2013.0,14.360242,178.878495,121.558003,178.878495,161.976352,22.981350,35.153503,32795.554106
2014.0,16.027352,180.049011,122.379306,180.049011,161.835837,23.281087,35.677200,32804.718691
2015.0,18.081068,183.210968,125.208334,183.210968,157.838896,23.457847,35.377786,32787.197673
2016.0,20.057078,186.912413,128.124027,186.912413,155.504177,23.673403,36.330239,32936.066036
2017.0,23.036529,189.242920,131.708206,189.242920,156.094106,23.746987,36.592826,33279.491334
2018.0,25.825912,191.451896,138.659832,191.451896,158.793935,24.161240,37.323097,34007.891035
2019.0,28.976463,193.031574,141.452770,193.031574,157.857047,24.924262,37.638426,34169.000782